/3rdParty/build/
/3rdParty/install/
/3rdParty/misc/lib/
/3rdParty/misc/src/lib/
/3rdParty/misc/src/LINUX32/
/3rdParty/misc/src/LINUX64/
/3rdParty/misc/src/WINDOWS32/
/3rdParty/misc/src/WINDOWS64/
/3rdParty/rtime/lib/
/3rdParty/rtime/LINUX32/
/3rdParty/rtime/LINUX64/
/3rdParty/rtime/WINDOWS32/
/3rdParty/rtime/WINDOWS64/
/bin/*.dll
/bin/*.exe
/bin/*.exp
/bin/*.lib
/bin/libomtlmsimulator.so
/bin/Modelica/
/bin/omtlmsimulator
/bin/OpenModelica/
/bin/StartTLM*
/build/
/common/LINUX32/
/common/LINUX64/
/common/WINDOWS32/
/common/WINDOWS64/
/FMIWrapper/FMILibrary-2.0.1/build/
/FMIWrapper/FMILibrary-2.0.1/install/
/FMIWrapper/FMIWrapper.pro.user
/FMIWrapper/WINDOWS64/
/Modelica/WINDOWS64/
/OpenModelica/WINDOWS64/
